# Load dep and connection to postgres

In [1]:
# import dep
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import psycopg2
from sqlalchemy import create_engine
from config import postgres_pw

In [2]:
# connect jupyter to postgres
db_string = f'postgresql://postgres:{postgres_pw}@127.0.0.1:5432/NBA_MVP'

In [3]:
# create database engine
engine = create_engine(db_string)

In [4]:
# Connect to postgres server
dbConnection = engine.connect()

In [5]:
# read game_df
game_df = pd.read_sql("select * from games", dbConnection)

In [6]:
# read season_df
season_df = pd.read_sql("select * from seasons", dbConnection)

In [7]:
# read scoreboard data into dataframes
scoreboard_df = pd.read_sql("select * from scoreboards", dbConnection)

In [8]:
scoreboard_df

,game_id,team_id,season_id,abb,city,player_id,player_name,status,time_played,fgm,...,oreb,dreb,reb,ast,stl,blk,turn_over,pf,pts,plus_minus
0,0021000003,1610612745,22010,HOU,Houston,2203,Shane Battier,PLA,00:31:24,1,...,2,4,6,4,0,2,2,3,3,9
1,0021000003,1610612745,22010,HOU,Houston,2449,Luis Scola,PLA,00:33:11,7,...,4,12,16,4,1,0,4,4,18,7
2,0021000003,1610612745,22010,HOU,Houston,2397,Yao Ming,PLA,00:23:21,4,...,4,7,11,2,0,2,4,6,9,-6
3,0021000003,1610612745,22010,HOU,Houston,2755,Kevin Martin,PLA,00:29:29,8,...,1,2,3,2,0,1,4,4,26,4
4,0021000003,1610612745,22010,HOU,Houston,201166,Aaron Brooks,PLA,00:41:39,7,...,1,2,3,9,0,0,2,0,24,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360546,0022101224,1610612750,22021,MIN,Minnesota,1630195,Leandro Bolmaro,PLA,00:17:54,4,...,1,2,3,4,0,0,0,1,11,15
360547,0022101224,1610612750,22021,MIN,Minnesota,1627774,Jake Layman,PLA,00:16:36,3,...,0,3,3,0,1,0,0,0,10,16
360548,0022101224,1610612750,22021,MIN,Minnesota,1630233,Nathan Knight,PLA,00:15:57,7,...,2,6,8,3,0,0,1,4,17,16
360549,0022101224,1610612750,22021,MIN,Minnesota,1630593,McKinley Wright IV,PLA,00:07:09,0,...,0,0,0,2,0,0,0,0,0,3
360550,0022101224,1610612750,22021,MIN,Minnesota,1627752,Taurean Prince,DNP,00:00:00,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# strip empty white space at end of ids
scoreboard_df['game_id'] = scoreboard_df['game_id'].str.strip()
scoreboard_df['team_id'] = scoreboard_df['team_id'].str.strip()
scoreboard_df['player_id'] = scoreboard_df['player_id'].str.strip()

# Split seasons and get avg stats of each player

In [10]:
# get list of seasons
seasons = scoreboard_df['season_id'].unique().tolist()
seasons

['22010',
 '22011',
 '22012',
 '22013',
 '22014',
 '22015',
 '22016',
 '22017',
 '22018',
 '22019',
 '22020',
 '22021']

In [11]:
# for loop to split each season
for season in seasons:
    if season == '22010':
        season22010 = scoreboard_df[scoreboard_df['season_id'] == '22010'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22011':
        season22011 = scoreboard_df[scoreboard_df['season_id'] == '22011'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22012':
        season22012 = scoreboard_df[scoreboard_df['season_id'] == '22012'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22013':
        season22013 = scoreboard_df[scoreboard_df['season_id'] == '22013'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22014':
        season22014 = scoreboard_df[scoreboard_df['season_id'] == '22014'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22015':
        season22015 = scoreboard_df[scoreboard_df['season_id'] == '22015'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22016':
        season22016 = scoreboard_df[scoreboard_df['season_id'] == '22016'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22017':
        season22017 = scoreboard_df[scoreboard_df['season_id'] == '22017'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22018':
        season22018 = scoreboard_df[scoreboard_df['season_id'] == '22018'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22019':
        season22019 = scoreboard_df[scoreboard_df['season_id'] == '22019'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22020':
        season22020 = scoreboard_df[scoreboard_df['season_id'] == '22020'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()
    elif season == '22021':
        season22021 = scoreboard_df[scoreboard_df['season_id'] == '22021'].groupby(['player_id', 'player_name', 'team_id', 'season_id']).mean()

In [12]:
# reset index of each table
season22010.reset_index(inplace = True)
season22011.reset_index(inplace = True)
season22012.reset_index(inplace = True)
season22013.reset_index(inplace = True)
season22014.reset_index(inplace = True)
season22015.reset_index(inplace = True)
season22016.reset_index(inplace = True)
season22017.reset_index(inplace = True)
season22018.reset_index(inplace = True)
season22019.reset_index(inplace = True)
season22020.reset_index(inplace = True)
season22021.reset_index(inplace = True)

In [13]:
season_df

,season_id,season_year,start_year,end_year,mvp,player_id
0,22010,2010-11,2010,2011,Derrick Rose,201565
1,22011,2011-12,2011,2012,LeBron James,2544
2,22012,2012-13,2012,2013,LeBron James,2544
3,22013,2013-14,2013,2014,Kevin Durant,201142
4,22014,2014-15,2014,2015,Stephen Curry,201939
5,22015,2015-16,2015,2016,Stephen Curry,201939
6,22016,2016-17,2016,2017,Russell Westbrook,201566
7,22017,2017-18,2017,2018,James Harden,201935
8,22018,2018-19,2018,2019,Giannis Antetokounmpo,203507
9,22019,2019-20,2019,2020,Giannis Antetokounmpo,203507
10,22020,2020-21,2020,2021,Nikola Jokic,203999
11,22021,2021-22,2021,2022,None,None

# Add mvp to each season

In [14]:
# season 22010
season22010['mvp'] = ' '
for index in season22010.index:
    if season22010['player_id'][index] == '201565':
        season22010['mvp'][index] = 0
    else:
        season22010['mvp'][index] = 1
    
# season 22011
season22011['mvp'] = ' '
for index in season22011.index:
    if season22011['player_id'][index] == '2544':
        season22011['mvp'][index] = 0
    else:
        season22011['mvp'][index] = 1

# season 22012
season22012['mvp'] = ' '
for index in season22012.index:
    if season22012['player_id'][index] == '2544':
        season22012['mvp'][index] = 0
    else:
        season22012['mvp'][index] = 1

# season 22013
season22013['mvp'] = ' '
for index in season22013.index:
    if season22013['player_id'][index] == '201142':
        season22013['mvp'][index] = 0
    else:
        season22013['mvp'][index] = 1

# season 22014
season22014['mvp'] = ' '
for index in season22014.index:
    if season22014['player_id'][index] == '201939':
        season22014['mvp'][index] = 0
    else:
        season22014['mvp'][index] = 1

# season 22015
season22015['mvp'] = ' '
for index in season22015.index:
    if season22015['player_id'][index] == '201939':
        season22015['mvp'][index] = 0
    else:
        season22015['mvp'][index] = 1

# season 22016
season22016['mvp'] = ' '
for index in season22016.index:
    if season22016['player_id'][index] == '201566':
        season22016['mvp'][index] = 0
    else:
        season22016['mvp'][index] = 1

# season 22017
season22017['mvp'] = ' '
for index in season22017.index:
    if season22017['player_id'][index] == '201935':
        season22017['mvp'][index] = 0
    else:
        season22017['mvp'][index] = 1

# season 22018
season22018['mvp'] = ' '
for index in season22018.index:
    if season22018['player_id'][index] == '203507':
        season22018['mvp'][index] = 0
    else:
        season22018['mvp'][index] = 1

# season 22019
season22019['mvp'] = ' '
for index in season22019.index:
    if season22019['player_id'][index] == '203507':
        season22019['mvp'][index] = 0
    else:
        season22019['mvp'][index] = 1
        
# season 22020
season22020['mvp'] = ' '
for index in season22020.index:
    if season22020['player_id'][index] == '203999':
        season22020['mvp'][index] = 0
    else:
        season22020['mvp'][index] = 1

# season 22021
season22021['mvp'] = ' '
for index in season22021.index:
    if season22021['player_id'][index] == '203999':
        season22021['mvp'][index] = 0
    else:
        season22021['mvp'][index] = 1

C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# Check if MVP was added correctly
season22010[season22010['player_id'] == '201565']

,player_id,player_name,team_id,season_id,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,dreb,reb,ast,stl,blk,turn_over,pf,pts,plus_minus,mvp
185,201565,Derrick Rose,1610612741,22010,8.777778,19.716049,0.447617,1.580247,4.753086,0.303086,...,3.074074,4.074074,7.691358,1.049383,0.62963,3.432099,1.679012,25.012346,6.17284,0

In [16]:
# Check if MVP was added correctly
season22010['mvp'].value_counts()

1    546
0      1
Name: mvp, dtype: int64

# Add team wins to each player

In [17]:
game_df

,game_id,team_id,season_id,team_name,abb,wl
0,0021000003,1610612745,22010,Houston Rockets,HOU,L
1,0021000003,1610612747,22010,Los Angeles Lakers,LAL,W
2,0021000001,1610612738,22010,Boston Celtics,BOS,W
3,0021000001,1610612748,22010,Miami Heat,MIA,L
4,0021000002,1610612757,22010,Portland Trail Blazers,POR,W
...,...,...,...,...,...,...
28391,0022101223,1610612763,22021,Memphis Grizzlies,MEM,L
28392,0022101228,1610612755,22021,Philadelphia 76ers,PHI,W
28393,0022101228,1610612765,22021,Detroit Pistons,DET,L
28394,0022101224,1610612741,22021,Chicago Bulls,CHI,W
28395,0022101224,1610612750,22021,Minnesota Timberwolves,MIN,L

In [18]:
# strip empty white space at end of ids
game_df['game_id'] = game_df['game_id'].str.strip()
game_df['team_id'] = game_df['team_id'].str.strip()
game_df['season_id'] = game_df['season_id'].str.strip()

In [19]:
# for loop to split each season
for season in seasons:
    if season == '22010':
        t_season22010 = pd.DataFrame(game_df[(game_df['season_id'] == '22010') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22011':
        t_season22011 = pd.DataFrame(game_df[(game_df['season_id'] == '22011') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22012':
        t_season22012 = pd.DataFrame(game_df[(game_df['season_id'] == '22012') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22013':
        t_season22013 = pd.DataFrame(game_df[(game_df['season_id'] == '22013') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22014':
        t_season22014 = pd.DataFrame(game_df[(game_df['season_id'] == '22014') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22015':
        t_season22015 = pd.DataFrame(game_df[(game_df['season_id'] == '22015') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22016':
        t_season22016 = pd.DataFrame(game_df[(game_df['season_id'] == '22016') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22017':
        t_season22017 = pd.DataFrame(game_df[(game_df['season_id'] == '22017') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22018':
        t_season22018 = pd.DataFrame(game_df[(game_df['season_id'] == '22018') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22019':
        t_season22019 = pd.DataFrame(game_df[(game_df['season_id'] == '22019') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22020':
        t_season22020 = pd.DataFrame(game_df[(game_df['season_id'] == '22020') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())
    elif season == '22021':
        t_season22021 = pd.DataFrame(game_df[(game_df['season_id'] == '22021') & (game_df['wl'] == 'W') ].groupby(['team_id', 'abb'])['wl'].count())

In [20]:
# reset index of each table
t_season22010.reset_index(inplace = True)
t_season22011.reset_index(inplace = True)
t_season22012.reset_index(inplace = True)
t_season22013.reset_index(inplace = True)
t_season22014.reset_index(inplace = True)
t_season22015.reset_index(inplace = True)
t_season22016.reset_index(inplace = True)
t_season22017.reset_index(inplace = True)
t_season22018.reset_index(inplace = True)
t_season22019.reset_index(inplace = True)
t_season22020.reset_index(inplace = True)
t_season22021.reset_index(inplace = True)

In [21]:
# Season 22010
season22010['w'] = ''
for x in t_season22010.index:
    for y in season22010.index:
        if season22010['team_id'][y] == t_season22010['team_id'][x]:
            season22010['w'][y] = t_season22010['wl'][x]
            
# Season 22011
season22011['w'] = ''
for x in t_season22011.index:
    for y in season22011.index:
        if season22011['team_id'][y] == t_season22011['team_id'][x]:
            season22011['w'][y] = t_season22011['wl'][x]
            
# Season 22012
season22012['w'] = ''
for x in t_season22012.index:
    for y in season22012.index:
        if season22012['team_id'][y] == t_season22012['team_id'][x]:
            season22012['w'][y] = t_season22012['wl'][x]

# Season 22013
season22013['w'] = ''
for x in t_season22013.index:
    for y in season22013.index:
        if season22013['team_id'][y] == t_season22013['team_id'][x]:
            season22013['w'][y] = t_season22013['wl'][x]

# Season 22014
season22014['w'] = ''
for x in t_season22014.index:
    for y in season22014.index:
        if season22014['team_id'][y] == t_season22014['team_id'][x]:
            season22014['w'][y] = t_season22014['wl'][x]

# Season 22015
season22015['w'] = ''
for x in t_season22015.index:
    for y in season22015.index:
        if season22015['team_id'][y] == t_season22015['team_id'][x]:
            season22015['w'][y] = t_season22015['wl'][x]

# Season 22016
season22016['w'] = ''
for x in t_season22016.index:
    for y in season22016.index:
        if season22016['team_id'][y] == t_season22016['team_id'][x]:
            season22016['w'][y] = t_season22016['wl'][x]

# Season 22017
season22017['w'] = ''
for x in t_season22017.index:
    for y in season22017.index:
        if season22017['team_id'][y] == t_season22017['team_id'][x]:
            season22017['w'][y] = t_season22017['wl'][x]

# Season 22018
season22018['w'] = ''
for x in t_season22018.index:
    for y in season22018.index:
        if season22018['team_id'][y] == t_season22018['team_id'][x]:
            season22018['w'][y] = t_season22018['wl'][x]
            
# Season 22019
season22019['w'] = ''
for x in t_season22019.index:
    for y in season22019.index:
        if season22019['team_id'][y] == t_season22019['team_id'][x]:
            season22019['w'][y] = t_season22019['wl'][x]
            
# Season 22020
season22020['w'] = ''
for x in t_season22020.index:
    for y in season22020.index:
        if season22020['team_id'][y] == t_season22020['team_id'][x]:
            season22020['w'][y] = t_season22020['wl'][x]
            
# Season 22021
season22021['w'] = ''
for x in t_season22021.index:
    for y in season22021.index:
        if season22021['team_id'][y] == t_season22021['team_id'][x]:
            season22021['w'][y] = t_season22021['wl'][x]

C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
season22021[season22021['player_id'] == '201939']

,player_id,player_name,team_id,season_id,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,reb,ast,stl,blk,turn_over,pf,pts,plus_minus,mvp,w
576,201939,Stephen Curry,1610612744,22021,8.359375,19.125,0.433672,4.453125,11.71875,0.374359,...,5.234375,6.3125,1.328125,0.359375,3.21875,2.03125,25.46875,7.953125,1,53

# Add games played

In [23]:
# for loop to split each season
for season in seasons:
    if season == '22010':
        p_season22010 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22010') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22011':
        p_season22011 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22011') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22012':
        p_season22012 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22012') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22013':
        p_season22013 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22013') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22014':
        p_season22014 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22014') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22015':
        p_season22015 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22015') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22016':
        p_season22016 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22016') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22017':
        p_season22017 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22017') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22018':
        p_season22018 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22018') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22019':
        p_season22019 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22019') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22020':
        p_season22020 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22020') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())
    elif season == '22021':
        p_season22021 = pd.DataFrame(scoreboard_df[(scoreboard_df['season_id'] == '22021') & (scoreboard_df['status'] == 'PLA') ].groupby(['player_id', 'player_name'])['status'].count())

In [24]:
# reset index of each table
p_season22010.reset_index(inplace = True)
p_season22011.reset_index(inplace = True)
p_season22012.reset_index(inplace = True)
p_season22013.reset_index(inplace = True)
p_season22014.reset_index(inplace = True)
p_season22015.reset_index(inplace = True)
p_season22016.reset_index(inplace = True)
p_season22017.reset_index(inplace = True)
p_season22018.reset_index(inplace = True)
p_season22019.reset_index(inplace = True)
p_season22020.reset_index(inplace = True)
p_season22021.reset_index(inplace = True)

In [25]:
p_season22019[p_season22019['player_id'] == '203999']

    player_id   player_name  status
513    203999  Nikola Jokic      73

In [26]:
# Season 22010
season22010['played'] = ''
for x in p_season22010.index:
    for y in season22010.index:
        if season22010['player_id'][y] == p_season22010['player_id'][x]:
            season22010['played'][y] = p_season22010['status'][x]
            
# Season 22011
season22011['played'] = ''
for x in p_season22011.index:
    for y in season22011.index:
        if season22011['player_id'][y] == p_season22011['player_id'][x]:
            season22011['played'][y] = p_season22011['status'][x]
            
# Season 22012
season22012['played'] = ''
for x in p_season22012.index:
    for y in season22012.index:
        if season22012['player_id'][y] == p_season22012['player_id'][x]:
            season22012['played'][y] = p_season22012['status'][x]

# Season 22013
season22013['played'] = ''
for x in p_season22013.index:
    for y in season22013.index:
        if season22013['player_id'][y] == p_season22013['player_id'][x]:
            season22013['played'][y] = p_season22013['status'][x]

# Season 22014
season22014['played'] = ''
for x in p_season22014.index:
    for y in season22014.index:
        if season22014['player_id'][y] == p_season22014['player_id'][x]:
            season22014['played'][y] = p_season22014['status'][x]

# Season 22015
season22015['played'] = ''
for x in p_season22015.index:
    for y in season22015.index:
        if season22015['player_id'][y] == p_season22015['player_id'][x]:
            season22015['played'][y] = p_season22015['status'][x]

# Season 22016
season22016['played'] = ''
for x in p_season22016.index:
    for y in season22016.index:
        if season22016['player_id'][y] == p_season22016['player_id'][x]:
            season22016['played'][y] = p_season22016['status'][x]

# Season 22017
season22017['played'] = ''
for x in p_season22017.index:
    for y in season22017.index:
        if season22017['player_id'][y] == p_season22017['player_id'][x]:
            season22017['played'][y] = p_season22017['status'][x]

# Season 22018
season22018['played'] = ''
for x in p_season22018.index:
    for y in season22018.index:
        if season22018['player_id'][y] == p_season22018['player_id'][x]:
            season22018['played'][y] = p_season22018['status'][x]
            
# Season 22019
season22019['played'] = ''
for x in p_season22019.index:
    for y in season22019.index:
        if season22019['player_id'][y] == p_season22019['player_id'][x]:
            season22019['played'][y] = p_season22019['status'][x]
            
# Season 22020
season22020['played'] = ''
for x in p_season22020.index:
    for y in season22020.index:
        if season22020['player_id'][y] == p_season22020['player_id'][x]:
            season22020['played'][y] = p_season22020['status'][x]
            
# Season 22021
season22021['played'] = ''
for x in p_season22021.index:
    for y in season22021.index:
        if season22021['player_id'][y] == p_season22021['player_id'][x]:
            season22021['played'][y] = p_season22021['status'][x]

C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
# Check 
season22020[season22020['player_id'] == '203999']

,player_id,player_name,team_id,season_id,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,ast,stl,blk,turn_over,pf,pts,plus_minus,mvp,w,played
618,203999,Nikola Jokic,1610612743,22020,10.166667,17.958333,0.576403,1.277778,3.291667,0.347097,...,8.319444,1.319444,0.666667,3.083333,2.666667,26.361111,5.333333,0,47,72

In [28]:
# Check
season22015[season22015['player_id'] == '201939']

,player_id,player_name,team_id,season_id,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,ast,stl,blk,turn_over,pf,pts,plus_minus,mvp,w,played
181,201939,Stephen Curry,1610612744,22015,9.817073,19.487805,0.481134,4.902439,10.804878,0.423659,...,6.426829,2.060976,0.182927,3.195122,1.963415,28.963415,12.463415,0,73,79

In [29]:
# append all frames into 1 large frame
dataframes = [season22010, season22011, season22012, season22013, season22014, season22015, season22016, season22017,
                season22018, season22019, season22020, season22021]

player_avg_all = pd.DataFrame()

for dataframe in dataframes:
    player_avg_all = player_avg_all.append(dataframe)

In [30]:
# Check to see if players didn't play
player_avg_all[player_avg_all['played'] == ''].head()

,player_id,player_name,team_id,season_id,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,ast,stl,blk,turn_over,pf,pts,plus_minus,mvp,w,played
134,201141,Greg Oden,1610612757,22010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,48,
293,202077,Jerel McNeal,1610612740,22010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,46,
328,202343,Elliot Williams,1610612757,22010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,48,
358,202392,Marqus Blakely,1610612745,22010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,43,
240,202067,Diamon Simpson,1610612745,22011,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,34,

In [31]:
# fill players that didn't play as 0
player_avg_all[player_avg_all['played'] ==''] = player_avg_all[player_avg_all['played'] ==''] = 0

In [32]:
# Round scores to 1 decimal
player_avg_all[['fgm', 'fga', 'fg3m', 'fg3a', 'ftm', 'fta', 'oreb', 'dreb',
               'reb', 'ast', 'stl', 'blk', 'turn_over', 'pf', 'pts',
               'plus_minus']] = player_avg_all[['fgm', 'fga', 'fg3m', 'fg3a', 'ftm', 'fta', 'oreb', 'dreb',
               'reb', 'ast', 'stl', 'blk', 'turn_over', 'pf', 'pts',
               'plus_minus']].round(decimals = 1)

In [33]:
# round % to 2 decminal
player_avg_all[['fg_pct', 'fg3_pct', 'ft_pct']] = player_avg_all[['fg_pct', 'fg3_pct', 'ft_pct']].round(decimals = 2)

In [34]:
player_avg_all.dtypes

player_id       object
player_name     object
team_id         object
season_id       object
fgm            float64
fga            float64
fg_pct         float64
fg3m           float64
fg3a           float64
fg3_pct        float64
ftm            float64
fta            float64
ft_pct         float64
oreb           float64
dreb           float64
reb            float64
ast            float64
stl            float64
blk            float64
turn_over      float64
pf             float64
pts            float64
plus_minus     float64
mvp             object
w               object
played          object
dtype: object

In [35]:
# change datatypes
player_avg_all['mvp'] = player_avg_all['mvp'].astype(int)
player_avg_all['w'] = player_avg_all['w'].astype(int)
player_avg_all['played'] = player_avg_all['played'].astype(int)

In [36]:
player_avg_all[player_avg_all['played'] =='']

Empty DataFrame
Columns: [player_id, player_name, team_id, season_id, fgm, fga, fg_pct, fg3m, fg3a, fg3_pct, ftm, fta, ft_pct, oreb, dreb, reb, ast, stl, blk, turn_over, pf, pts, plus_minus, mvp, w, played]
Index: []

[0 rows x 26 columns]

In [37]:
# display all mvps
pd.options.display.max_columns = None
mvps = player_avg_all[player_avg_all['mvp'] == 1]
mvps

,player_id,player_name,team_id,season_id,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,reb,ast,stl,blk,turn_over,pf,pts,plus_minus,mvp,w,played
0,101106,Andrew Bogut,1610612749,22010,4.9,9.9,0.42,0.0,0.1,0.00,1.3,2.9,0.34,2.7,6.9,9.6,1.7,0.6,2.2,1.7,2.9,11.1,0.1,1,35,65
1,101107,Marvin Williams,1610612737,22010,3.5,7.6,0.41,0.5,1.5,0.24,2.1,2.5,0.51,1.0,3.5,4.4,1.2,0.5,0.3,0.9,1.5,9.5,-0.6,1,44,65
2,101108,Chris Paul,1610612740,22010,5.3,11.5,0.45,0.9,2.3,0.35,4.2,4.7,0.79,0.5,3.6,4.0,9.7,2.3,0.1,2.2,2.4,15.7,3.2,1,46,80
3,101109,Raymond Felton,1610612743,22010,4.0,9.3,0.41,1.3,2.8,0.37,1.7,2.7,0.49,0.4,3.0,3.4,6.2,1.3,0.0,2.0,1.7,11.0,7.4,1,50,75
4,101109,Raymond Felton,1610612752,22010,6.3,14.8,0.42,1.6,5.0,0.30,2.9,3.4,0.78,0.7,2.9,3.6,9.0,1.8,0.2,3.3,2.1,17.1,-0.6,1,42,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,2546,Carmelo Anthony,1610612747,22021,4.6,10.3,0.43,2.1,5.7,0.35,1.9,2.3,0.59,0.9,3.2,4.1,1.0,0.7,0.7,0.8,2.4,13.1,-1.3,1,33,69
735,2617,Udonis Haslem,1610612748,22021,0.2,0.4,0.08,0.0,0.1,0.01,0.0,0.0,0.01,0.1,0.3,0.3,0.1,0.0,0.0,0.1,0.2,0.4,-0.2,1,53,13
736,2730,Dwight Howard,1610612747,22021,1.7,2.8,0.43,0.1,0.2,0.08,1.2,1.9,0.38,1.5,3.1,4.6,0.5,0.4,0.5,0.6,1.5,4.8,-1.7,1,33,60
737,2738,Andre Iguodala,1610612744,22021,1.2,3.0,0.29,0.4,1.8,0.17,0.4,0.5,0.19,0.5,2.0,2.5,2.8,0.7,0.6,0.7,0.8,3.1,2.8,1,53,31
738,2772,Trevor Ariza,1610612747,22021,0.7,2.2,0.19,0.4,1.6,0.16,0.2,0.4,0.10,0.2,1.6,1.8,0.6,0.3,0.1,0.2,0.4,2.1,-1.2,1,33,24

In [38]:
#pd.options.display.max_columns = 20

# Preprocess for ML models

In [39]:
player_avg_all.columns

Index(['player_id', 'player_name', 'team_id', 'season_id', 'fgm', 'fga',
       'fg_pct', 'fg3m', 'fg3a', 'fg3_pct', 'ftm', 'fta', 'ft_pct', 'oreb',
       'dreb', 'reb', 'ast', 'stl', 'blk', 'turn_over', 'pf', 'pts',
       'plus_minus', 'mvp', 'w', 'played'],
      dtype='object')

In [40]:
# features

X = player_avg_all[['fgm', 'fga',
       'fg_pct', 'fg3m', 'fg3a', 'fg3_pct', 'ftm', 'fta', 'ft_pct', 'oreb',
       'dreb', 'reb', 'ast', 'stl', 'blk', 'turn_over', 'pf', 'pts',
       'plus_minus', 'w', 'played']]

# targe

y= player_avg_all['mvp']

In [41]:
# split training data and target data
from sklearn.model_selection import train_test_split
from collections import Counter

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

Counter(y_train)

Counter({1: 5219, 0: 56})

In [42]:
# Scale features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Random Oversampling

In [43]:
# Oversample
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({1: 5219, 0: 5219})

## Logistic Regression

In [44]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [45]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test_scaled)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(data = cm, index= ["Actual MVP", "Actual NON"], columns= ["Predict MVP", "Predict NON"])

cm_df

            Predict MVP  Predict NON
Actual MVP           21            0
Actual NON           12         1726

In [46]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.64      1.00      0.99      0.78      1.00      0.99        21
          1       1.00      0.99      1.00      1.00      1.00      0.99      1738

avg / total       1.00      0.99      1.00      0.99      1.00      0.99      1759

In [47]:
# Calculating the accuracy score.
accuracy_score(y_test, y_pred)

0.9931779420125071

## Support vector machine (SVM)

In [48]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [49]:
model.fit(X_resampled, y_resampled)

SVC(kernel='linear')

In [50]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test_scaled)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(data = cm, index= ["Actual MVP", "Actual NON"], columns= ["Predict MVP", "Predict NON"])

cm_df

            Predict MVP  Predict NON
Actual MVP           20            1
Actual NON            7         1731

In [51]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.74      0.95      1.00      0.83      0.97      0.94        21
          1       1.00      1.00      0.95      1.00      0.97      0.95      1738

avg / total       1.00      1.00      0.95      1.00      0.97      0.95      1759

In [52]:
# Calculating the accuracy score.
accuracy_score(y_test, y_pred)

0.9954519613416714

## Decision Tree

In [53]:
from sklearn import tree
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()

In [54]:
# Fitting the model.
model = model.fit(X_resampled, y_resampled)

In [55]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test_scaled)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(data = cm, index= ["Actual MVP", "Actual NON"], columns= ["Predict MVP", "Predict NON"])

cm_df

            Predict MVP  Predict NON
Actual MVP           19            2
Actual NON            2         1736

In [56]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.90      0.90      1.00      0.90      0.95      0.90        21
          1       1.00      1.00      0.90      1.00      0.95      0.91      1738

avg / total       1.00      1.00      0.91      1.00      0.95      0.91      1759

In [57]:
# Calculating the accuracy score.
accuracy_score(y_test, y_pred)

0.9977259806708357

## Random Forest

In [58]:
# Create a random forest classifier.
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=128, random_state=1)

In [59]:
# Fitting the model.
model = model.fit(X_resampled, y_resampled)

In [60]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test_scaled)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(data = cm, index= ["Actual MVP", "Actual NON"], columns= ["Predict MVP", "Predict NON"])

cm_df

            Predict MVP  Predict NON
Actual MVP           19            2
Actual NON            2         1736

In [61]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.90      0.90      1.00      0.90      0.95      0.90        21
          1       1.00      1.00      0.90      1.00      0.95      0.91      1738

avg / total       1.00      1.00      0.91      1.00      0.95      0.91      1759

In [62]:
# Calculating the accuracy score.
accuracy_score(y_test, y_pred)

0.9977259806708357

# SMOTE

In [63]:
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({1: 5219, 0: 5219})

## Logistic Regression

In [64]:
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Billy\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [65]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test_scaled)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(data = cm, index= ["Actual MVP", "Actual NON"], columns= ["Predict MVP", "Predict NON"])

cm_df

            Predict MVP  Predict NON
Actual MVP           21            0
Actual NON         1267          471

In [66]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.02      1.00      0.27      0.03      0.52      0.29        21
          1       1.00      0.27      1.00      0.43      0.52      0.25      1738

avg / total       0.99      0.28      0.99      0.42      0.52      0.25      1759

In [67]:
# Calculating the accuracy score.
accuracy_score(y_test, y_pred)

0.27970437748720867

## Support vector machine (SVM)

In [68]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [69]:
model.fit(X_resampled, y_resampled)

SVC(kernel='linear')

In [70]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test_scaled)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(data = cm, index= ["Actual MVP", "Actual NON"], columns= ["Predict MVP", "Predict NON"])

cm_df

            Predict MVP  Predict NON
Actual MVP           19            2
Actual NON          818          920

In [71]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.02      0.90      0.53      0.04      0.69      0.50        21
          1       1.00      0.53      0.90      0.69      0.69      0.46      1738

avg / total       0.99      0.53      0.90      0.68      0.69      0.46      1759

In [72]:
# Calculating the accuracy score.
accuracy_score(y_test, y_pred)

0.533826037521319